.header {
	background-color: $brand-white;

	&--static {
		padding-top: $space-lg2;
		padding-bottom: $space-md;
	}

	&--scroll {
		padding-top: $space-md;
		padding-bottom: $space-md;

		.header__nav-top {
			display: none;
		}
	}
  &__inner{
    position: relative;
  }
}

.header__nav {
	flex: 1;
}

.header__list {
	&__item {
		color: $brand-primary;
	}
}

.header__nav-top {
	width: 100%;
	margin: 0 0 $space-md*2;
  .header__nav-dropdown {
    .svg-inline--fa.fa-w-14{
      margin: 0 0 0 3px;
      width: 10px;
    }
  }
	.header__list {
		margin: 0 0 0 $space-lg;

		&__item {
      font-weight: 600;
			font-size: $text-xs;
			margin: 0 $space-sm 0 0;
      @include media-above("xl"){
        font-size: $text-sm;
  			margin: 0 $space 0 0;
      }
			&:last-child {
				margin: 0;
			}
		}

		&__lang {
			border-right: 1px solid $brand-primary;
			padding: 0 $space-sm 0 0;
			margin: 0 $space-sm 0 0;
			text-transform: uppercase;
      &.active{
        font-weight: bold;
      }
			&:last-child {
				border: 0;
				padding: 0;
			}
		}
	}
}

.header__nav-bottom {
	width: 100%;
  .header__nav-dropdown {
    .svg-inline--fa.fa-w-14{
      width: 15px;
      margin: 0 0 0 $space-xs;
    }
  }
	.header__list {
		&__item {
      font-size: $text-sm2;
			margin: 0 0 0 $space-md;
      @include media-above("xl"){
        font-size: $text-base;
        margin: 0 0 0 $space-lg;
      }
			&:first-child {
				margin: 0;
			}
		}
	}
}


.header__desktop {
  @include media-below("lg"){
    display: none;
  }
}

.header__mobile {
	display: none;
  @include media-below("lg"){
    display: block;
  }
}
