.header {
	background-color: $brand-white;
	width: 100%;
	position: fixed;
	z-index: 2000;
	transition: $base-transition;
	height: 190px;

	&--static {
		padding-top: $space-sm;
    padding-bottom: $space-xs;
		min-height: 100px;
		@include media-below("lg") {
			padding-top: $space;
			padding-bottom: $space;
		}
	}

	&.headroom--not-top,
	&.headroom--unpinned {
		padding-top: $space-xs;
    padding-bottom: $space-xs;
		height: 100px;

		.header__nav-top {
			margin: -50px 0 0;
			z-index: -1;
			opacity: 0;
		}
	}

	&.headroom--pinned {
		padding-top: $space-xs;
    padding-bottom: $space-xs;
		height: 190px;
		@include media-below("lg") {
			padding-top: $space-sm;
			padding-bottom: $space-sm;
		}

		.header__inner {
			align-items: center;
		}

		.header__nav-top {
			opacity: 1;
			z-index: 100;
			margin: 0 0 $space-md;
		}
	}

	&.headroom--bottom {
		padding-top: $space-sm;
    padding-bottom: $space-xs;
		height: 190px;
		@include media-below("lg") {
			padding-top: $space-sm;
			padding-bottom: $space-sm;
		}

		.header__inner {
			align-items: center;
		}

		.header__nav-top {
			opacity: 1;
			z-index: 100;
			margin: 0 0 $space-md;
		}
	}

	&__inner {
		position: relative;
	}

	@include media-below("lg"){
		height: 100px !important;
	}
}

.header__nav {
	flex: 1;
}

.header__dropdown {
	opacity: 0;
	z-index: -10;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 50px;
	padding: $space-md 0;
	background-color: $brand-secondary;
}

.header__dropdown-list {
	border-right: 1px solid $border-color;
	padding: 0 $space-bump;
	@include media-above("lg"){
		max-width: 200px;
	}
	&:last-child {
		border: 0;
	}

	h2 {
		margin: 0 0 $space;
		font-size: $text-base+2;
	}

	ul {
		min-width: 150px;
		@include media-above("xxl") {
			min-width: 270px;
		}
	}

	ul li {
		a {
			padding: $space-sm 0;
			position: relative;
			font-weight: 400;
			display: flex;
			align-items: center;
			&:after {
				content: attr(data-text);
				content: attr(data-text)/"";
				height: 0;
				visibility: hidden;
				overflow: hidden;
				user-select: none;
				pointer-events: none;
				font-weight: bold;
			}
			&:hover {
				color: $brand-primary;
				font-weight: bold;
			}
		}

		img {
			width: 25px;
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}
}

.header__nav-top {
	width: 100%;
	margin: 0 0 $space-md;
	transition: $base-transition;

	.header__nav-dropdown {
		position: relative;
		flex-direction: column;
		padding: $space $space-bump $space $space !important;

		.chevron {
			width: 10px;
			display: inline-block;
			transition: $base-transition;
			position: absolute;
			right: 15px;
		}

		&:hover {
			background: $brand-secondary;

			& > .chevron {
				transform: rotate(180deg);
			}

			& > .header__dropdown {
				opacity: 1;
				z-index: 1000;
				pointer-events: all;
			}
		}

		ul {
			min-width: 200px;
		}
	}

	.header__list {
		margin: 0 0 0 $space-md;

		&__item {
			font-size: $text-xs;
			font-weight: 500;
			margin: 0 $space-sm 0 0;
			cursor: pointer;
			padding: $space $space-sm;
			@include media-above("xl") {
				font-size: $text-sm - 3;
			}

			&:after {
				content: attr(data-text);
				content: attr(data-text)/"";
				height: 0;
				visibility: hidden;
				overflow: hidden;
				user-select: none;
				pointer-events: none;
				font-weight: bold;
			}

			&:hover {
				font-weight: bold;
				color: $brand-primary;
			}

			&:last-child {
				margin: 0;
			}
		}

		&__lang {
			border-right: 1px solid $brand-primary;
			padding: 0 $space-sm 0 0;
			margin: 0 $space-sm 0 0;
			text-transform: uppercase;
			font-size: $text-xs;
			font-weight: 400;
			&:hover{
				font-weight: bold;
			}
			&.active {
				font-weight: bold;
			}

			&:last-child {
				border: 0;
				padding: 0;
			}
		}
	}
}

.header__nav-bottom {
	width: 100%;

	.header__nav-dropdown {
		flex-direction: column;
		padding: $space $space-md $space $space !important;

		.chevron {
			width: 15px;
			transition: $base-transition;
			display: inline-block;
			position: absolute;
			right: 15px;
		}

		&:hover {
			background: $brand-secondary;

			&:before {
				opacity: 0 !important;
			}

			& > .chevron {
				transform: rotate(180deg);
			}

			& > .header__dropdown {
				opacity: 1;
				z-index: 1000;
				pointer-events: all;
			}
		}
	}

	.header__list {
		&__item {
			font-size: $text-sm2;
			font-weight: 300;
			cursor: pointer;
			@include media-above("lg") {
				font-size: $text-sm;
		    padding: $space $space-sm;
			}
			@include media-above("xxl") {
				font-size: $text-sm2 - 1;
				margin: 0 0 0 $space;
				padding: $space;
			}

			&:after {
				content: attr(data-text);
				content: attr(data-text)/"";
				height: 0;
				visibility: hidden;
				overflow: hidden;
				user-select: none;
				pointer-events: none;
				font-weight: bold;
			}

			&:before {
				content: "";
				width: 35px;
				height: 3px;
				background-color: $brand-primary;
				position: absolute;
				bottom: 10px;
				left: $space-sm;
				opacity: 0;
				transition: all .5s ease;
				@include media-above("xl") {
					left: $space;
				}
			}

			&:hover {
				color: $brand-primary;
				font-weight: 400;

				&:before {
					opacity: 1;
				}
			}

			&:first-child {
				margin: 0;
			}
		}
	}
}

.header__list {
	&__item {
		color: $brand-primary;
		line-height: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.header__desktop {
	@include media-below("lg") {
		display: none;
	}
}

.header__mobile {
	display: none;
	@include media-below("lg") {
		display: block;
	}
}

.header a.active{
	color: $brand-primary;
	font-weight: 400;
	&:before {
		opacity: 1;
	}
}
