.hero-slider {
	padding: 0 0 $space-lg;

	.slick-dots {
		left: 0;
		right: 0;
		flex-direction: row;
		bottom: 20px;
		top: auto;
		width: auto;
		z-index: 10;

		li {
			width: 40px;
			height: 6px;
			border-radius: 0;
			padding: 0;
			margin: 0 $space-sm;

			button {
				width: 40px;
				height: 6px;
				border-radius: 0;
				padding: 0;
				background-color: #F0F3F1;

				&:before {
					display: none;
				}
			}
		}

		.slick-active {
			button {
				background-color: #9FADA2;
			}
		}
	}
}
