.logo{
  transition: $base-transition;
  @include media-below("lg"){
    position: absolute;
    z-index: 2000;
  }
  img{
    width: 210px;
    max-height: 60px;
    object-fit: cover;
    @include media-below("lg"){
      width: 210px;
      height: 60px;
      object-fit: cover;
    };
  }
}
