.news {
	padding: $space-lg 0;
}

.grid {
	@include media-above("lg") {
		display: flex;
		flex-wrap: wrap;
	}

	.slick-track {
		overflow: auto;
		display: flex;
	}

	.slick-track:after,
	.slick-track:before {
		display: none;
	}

	.slick-slide {
		display: flex;
		height: auto;
		outline: none !important;
		@include media-below("md") {
			margin: 0 $space-xs 0;
			&:first-child{
				margin: 0 $space-xs 0 0;
			}
		}
		@include media-above("md") {
			margin: 0 $space 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__box {
		display: flex;
		background-color: $brand-light-gray;
		transition: $base-transition;

		&:hover {
			background-color: rgba($brand-primary, 0.08);
		}
		@include media-above("lg") {
			&:nth-child(odd) {
				width: calc(66.66% - 10px);
				margin: 0 $space-sm $space 0;
			}

			&:nth-child(even) {
				margin: 0 0 $space $space-sm;
				width: calc(33.33% - 10px);
			}
		}
		@include media-below("lg") {
			flex-direction: column;
		}

		img {
			width: 100%;
			height: auto;
			max-height: 250px;
			object-fit: cover;
			@include media-above("lg") {
				width: 50%;
				max-height: 100%;
				height: 100%;
			}
		}
	}

	.slick-current {
		.grid__box {
			@include media-below("lg") {
				background-color: rgba($brand-primary, 0.08);
			}
		}
	}

	&__box-content {
		padding: $space-bump $space $space;
		color: $brand-primary;
		display: flex;
		font-weight: 200;
		flex-direction: column;
		flex: 1;
		@include media-above("lg") {
			padding: $space-md2 $space-bump $space-bump;
		}
		@include media-below("md") {
			padding: $space $space $space-bump;
		}

		span {
			font-size: $text-sm;
		}

		h2 {
			font-size: $text-md;
			padding: $space-xs 0;
			margin: 0 0 $space-sm;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			@include media-below("md") {
				font-size: $text-base + 2;
			}
		}

		p {
			font-size: $text-sm;
			position: relative;
			line-height: 1.4;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			margin: 0 0 $space-sm;
			@include media-above("lg") {
				-webkit-line-clamp: 7;
			}
			@include media-below("md") {
				font-size: $text-xs;
			}
		}

		.see-more {
			font-size: $text-sm;
			text-transform: uppercase;
			text-align: right;
			display: block;
			position: relative;
			margin: auto 0 0 auto;
			@include media-below("md") {
				font-size: $text-xs - 1;
			}

			svg {
				width: 14px !important;
				height: 14px;
				display: inline-block;
				transition: $base-transition;
				margin: 0 0 1px 7px;
			}

			&:hover {
				color: $brand-primary;
			}
		}

		&--no-img {
			p {
				font-size: $text-sm;
				margin: 0 0 $space;
				position: relative;
				line-height: 1.4;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 15;
				-webkit-box-orient: vertical;
				@include media-above("lg") {
					-webkit-line-clamp: 6;
				}
				@include media-above("xxxl") {
					-webkit-line-clamp: 5;
				}
			}
		}
	}
}
