<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML/CSS/JS Template</title>
	<link rel="stylesheet" href="../../dist/css/app.css">
	<script src="../../dist/js/app.js" charset="utf-8"></script>
</head>

<body>
	<header class="header header--static js-header u-flex">
		<div class="wrapper">
			<div class="header__inner u-flex u-flex-jsb u-flex-ac">
				<a href="/" class="logo">
					<img src="../images/content/logo.svg" alt="Logo" />
				</a>
				<div class="header__desktop header__nav u-flex u-flex-jfe u-flex-column u-flex-afe">
					<div class="header__nav-top u-flex u-flex-jfe">
						<div class="header__list u-flex u-flex-jfe u-flex-ac">
							<a href="#" class="header__list__item header__list__lang active" data-text="EN">EN</a>
							<a href="#" class="header__list__item header__list__lang" data-text="DE">DE</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item" data-text="Contact">Contact</a>
							<a href="#" class="header__list__item" data-text="Imprint">Imprint</a>
							<a href="#" class="header__list__item" data-text="Privacy">Privacy</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<div class="header__nav-dropdown header__list__item" data-text="Customer Logins">Customer Logins <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Please choose your platform:</h2>
										<ul>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header__nav-bottom">
						<div class="header__list u-flex u-flex-jfe">
							<a href="direct-investments.html" class="header__list__item" data-text="Direct Investments">Direct Investments</a>
							<a href="wealth-management.html" class="header__list__item" data-text="Wealth Management">Wealth Management</a>
							<a href="family-office.html" class="header__list__item" data-text="Family Office">Family Office</a>
							<div class="header__nav-dropdown header__list__item" data-text="About Dolor">About Dolor <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="team.html" data-text="Item">Team</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="header__mobile nav--hamburger js-nav-hamburger">
					<button class="hamburger hamburger--squeeze js-hamburger" type="button" aria-expanded="false" aria-label="Toggle navigation" aria-controls="nav-mobile">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</nav>
				<nav class="nav--mobile js-nav-mobile" id="nav-mobile" role="navigation">
					<div class="wrapper">
						<div class="header__list u-flex u-flex-jfe u-flex-afe u-flex-column">
							<a href="#" class="header__list__item">Menu item A</a>
							<a href="#" class="header__list__item">Menu item B</a>
							<a href="#" class="header__list__item">Menu item C</a>
							<div class="header__nav-dropdown header__list__item"><i class="fas fa-chevron-down"></i>Menu item D
								<div class="header__dropdown u-flex-column u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

	<div class="content">
		<section class="hero">
			<div class="hero__bg-image">
				<img src="../images/content/forest.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="hero__box hero__box--green u-flex u-flex-column u-flex-jfe">
					<span>Lorem ipsum</span>
					<h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h1>
				</div>
			</div>
		</section>
		<section class="basic-text">
			<div class="wrapper">
				<h1><b>Lorem ipsum</b></h1>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
			</div>
		</section>
		<section class="two-col-boxes">
			<div class="wrapper u-flex u-flex-wrap">
				<h1 class="block-title">Investitionskriterien</h1>
				<div class="two-col-boxes__item">
					<h2 class="u-color-green-shade">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua At vero eos et accusam et justo duo dolores et ea rebum.</p>
				</div>
				<div class="two-col-boxes__item">
					<h2 class="u-color-green-shade">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua At vero eos et accusam et justo duo dolores et ea rebum.</p>
				</div>
				<div class="two-col-boxes__item">
					<h2 class="u-color-green-shade">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua At vero eos et accusam et justo duo dolores et ea rebum.</p>
				</div>
				<div class="two-col-boxes__item">
					<h2 class="u-color-green-shade">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua At vero eos et accusam et justo duo dolores et ea rebum.</p>
				</div>
			</div>
		</section>
		<section class="dynamic-count">
			<img src="../images/content/forest.jpg" alt="">
			<div class="dynamic-count__box u-flex u-flex-column">
				<div class="dynamic-count__item">
					<div class="dynamic-count__counter"><span>0</span> Mio. CHF</div>
					<p>Portfolio-Umsatz</p>
				</div>
				<div class="dynamic-count__item">
					<div class="dynamic-count__counter"><span>0</span> Mio.</div>
					<p>Investiertes Kapital im aktuellen Portfolio</p>
				</div>
				<div class="dynamic-count__item">
					<div class="dynamic-count__counter"> > <span>0</span> Add-ons</div>
					<p>seit 2014</p>
				</div>
				<div class="dynamic-count__item">
					<div class="dynamic-count__counter"> ~ <span>0</span> MA</div>
					<p>arbeiten in 8 Portfolio-Firmen</p>
				</div>
			</div>
		</section>
		<section class="custom-slider">
			<div class="custom-slider__title">
				<div class="wrapper">
					<span>Lorem ipsum dolor</span>
					<h1>Lorem ipsum dolor sit amet numy.</h1>
				</div>
			</div>
			<div class="custom-slider__desktop">
				<div class="wrapper u-flex">
					<div class="custom-slider__desktop-nav u-flex u-flex-column">
						<a href="javascript:void(0)" data-text="Nachfolgelösung" class="active">Nachfolgelösung</a>
						<a href="javascript:void(0)" data-text="Wachstum" >Wachstum</a>
						<a href="javascript:void(0)" data-text="Professionalisierung" >Professionalisierung</a>
						<a href="javascript:void(0)" data-text="Zusatz-Akquisitionen" >Zusatz-Akquisitionen</a>
						<a href="javascript:void(0)" data-text="SparRing-PartneR" >SparRing-PartneR</a>
					</div>
					<div class="custom-slider__desktop-content u-flex u-flex-column active">
						<div class="author-data">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
						<div class="author-text">
							<h2>Wachstum 1</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
					</div>
					<div class="custom-slider__desktop-content u-flex u-flex-column">
						<div class="author-data">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
						<div class="author-text">
							<h2>Wachstum 2</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
					</div>
					<div class="custom-slider__desktop-content u-flex u-flex-column">
						<div class="author-data">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
						<div class="author-text">
							<h2>Wachstum 3</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
					</div>
					<div class="custom-slider__desktop-content u-flex u-flex-column">
						<div class="author-data">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
						<div class="author-text">
							<h2>Wachstum 4</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
					</div>
					<div class="custom-slider__desktop-content u-flex u-flex-column">
						<div class="author-data">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
						<div class="author-text">
							<h2>Wachstum 5</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-slider__mobile">
				<div class="wrapper">
					<div class="js-custom-slider">
						<div class="custom-slider__mobile-content u-flex u-flex-column">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<div class="author-text">
								<h2>Wachstum 5</h2>
								<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
							</div>
							<div class="author-data">
								<h4>Hans Muster</h4>
								<p>Geschäftsführer Muster AG</p>
							</div>
						</div>
						<div class="custom-slider__mobile-content u-flex u-flex-column">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<div class="author-text">
								<h2>Wachstum 5</h2>
								<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
							</div>
							<div class="author-data">
								<h4>Hans Muster</h4>
								<p>Geschäftsführer Muster AG</p>
							</div>
						</div>
						<div class="custom-slider__mobile-content u-flex u-flex-column">
							<img src="../images/content/forest.jpg" alt="Author Name">
							<div class="author-text">
								<h2>Wachstum 5</h2>
								<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
							</div>
							<div class="author-data">
								<h4>Hans Muster</h4>
								<p>Geschäftsführer Muster AG</p>
							</div>
						</div>
						<div class="custom-slider__mobile-content u-flex u-flex-column">
						<img src="../images/content/forest.jpg" alt="Author Name">
						<div class="author-text">
							<h2>Wachstum 5</h2>
							<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod »</p>
						</div>
						<div class="author-data">
							<h4>Hans Muster</h4>
							<p>Geschäftsführer Muster AG</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>

		<section class="portfolio">
			<div class="wrapper">
				<h1 class="block-title">Portfolio</h1>
				<div class="portfolio__group">
					<div class="portfolio__items u-flex u-flex-wrap js-portfolio-items">
						<div class="portfolio__box portfolio__box--static u-flex u-flex-column">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<div>
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
							</div>
						</div>
						<a href="https://www.google.com" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="portfolio__group">
					<h2 class="portfolio__subtitle">Lorem ipsum</h2>
					<div class="portfolio__items u-flex u-flex-wrap js-portfolio-items">
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
						<a href="#" class="portfolio__box portfolio__box--dynamic">
							<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
							<img src="../images/content/forest.jpg" alt="Portfolio item img" class="portfolio__box-image">
							<div class="portfolio__box-info">
								<span>Lorem ipsum</span>
								<h3>Lorem ipsum</h3>
								<div>Go To investment<i class="fa fa-chevron-right"></i></div>
							</div>
							<div class="portfolio__box-overlay u-flex u-flex-wrap u-flex u-flex-wrap">
								<h2>Facts & Figures</h2>
								<ul>
									<li>
										<span>Industry</span>
										<div>Digital services provider</div>
									</li>
									<li>
										<span>Stage/Type</span>
										<div>Significant Minority</div>
									</li>
									<li>
										<span>Headquarters</span>
										<div>Zurich / Switzerland</div>
									</li>
									<li>
										<span>Ownership</span>
										<div>50%</div>
									</li>
									<li>
										<span>Employees</span>
										<div>approx. 40 full-time positions</div>
									</li>
									<li>
										<span>Value at acquisition</span>
										<div>CHF 11 Mio.</div>
									</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="team">
			<div class="wrapper u-flex u-flex-wrap">
				<h1 class="block-title">Ihre Ansprechpartner</h1>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
				</div>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Investment Director</p>
				</div>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Investment Director</p>
				</div>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Investment Analyst</p>
				</div>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Leiter Value Creation</p>
				</div>
				<div class="team__member">
					<div class="team__image">
						<img src="../images/content/winter.jpg" alt="Member name">
					</div>
					<h2>Hans Muster</h2>
					<p>Investment Associate</p>
				</div>
			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="wrapper u-flex u-flex-wrap u-flex-jsb">
			<div class="footer__info">
				<div class="footer__info-text">
					<span>Address</span>
					<span>Address</span>
					<span>Address</span>
				</div>
				<div class="footer__info-text">
					<span>Telefon 123 45 67</span>
					<span>E-Mail test@test.org</span>
				</div>
				<div class="footer__social">
					<a href="#"><i class="fab fa-facebook-square"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer__lists u-flex">
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item" class="active">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__copyright">
				© 2020 Company, All rights reserved.
			</div>
		</div>
	</footer>
</body>

</html>
