<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML/CSS/JS Template</title>
</head>

<body>


	<header class="header header--static">
		<div class="wrapper">
			<div class="header__inner u-flex u-flex-jsb">

				<div class="logo">
					<img src="" alt="Logo"/>
				</div>
				<div class="header__nav u-flex u-flex-jfe u-flex-column u-flex-afe">
					<div class="header__nav-top u-flex u-flex-jfe">
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item header__list__lang">EN</a>
							<a href="#" class="header__list__item header__list__lang">DE</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item">Item</a>
							<a href="#" class="header__list__item">Item</a>
							<a href="#" class="header__list__item">Item</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<div class="header__nav-dropdown header__list__item">Dropdown</div>
						</div>
					</div>
					<div class="header__nav-bottom">
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item">Menu Item A</a>
							<a href="#" class="header__list__item">Menu Item B</a>
							<a href="#" class="header__list__item">Menu Item C</a>
							<div class="header__nav-dropdown header__list__item">Menu Item D</div>
						</div>
					</div>
				</div>
				<div class="header__mobile">
					mobile layout
				</div>

			</div>
		</div>
	</header>



</body>
</html>
