<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML/CSS/JS Template</title>
	<link rel="stylesheet" href="../../dist/css/app.css">
	<script src="../../dist/js/app.js" charset="utf-8"></script>
</head>

<body>
	<header class="header header--static js-header u-flex">
		<div class="wrapper">
			<div class="header__inner u-flex u-flex-jsb u-flex-ac" data-sal="fade" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-out">
				<a href="/" class="logo">
					<img src="../images/content/logo.svg" alt="Logo" />
				</a>
				<div class="header__desktop header__nav u-flex u-flex-jfe u-flex-column u-flex-afe">
					<div class="header__nav-top u-flex u-flex-jfe">
						<div class="header__list u-flex u-flex-jfe u-flex-ac">
							<a href="#" class="header__list__item header__list__lang active" data-text="EN">EN</a>
							<a href="#" class="header__list__item header__list__lang" data-text="DE">DE</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item" data-text="Contact">Contact</a>
							<a href="#" class="header__list__item" data-text="Imprint">Imprint</a>
							<a href="#" class="header__list__item" data-text="Privacy">Privacy</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<div class="header__nav-dropdown header__list__item" data-text="Customer Logins">Customer Logins <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Please choose your platform:</h2>
										<ul>
											<li><a href="#" data-text="Lorem Ipsum example"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum example</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum long"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum long</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header__nav-bottom">
						<div class="header__list u-flex u-flex-jfe">
							<a href="direct-investments.html" class="header__list__item" data-text="Direct Investments">Direct Investments</a>
							<a href="wealth-management.html" class="header__list__item" data-text="Wealth Management">Wealth Management</a>
							<a href="family-office.html" class="header__list__item" data-text="Family Office">Family Office</a>
							<div class="header__nav-dropdown header__list__item" data-text="About Dolor">About Dolor <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="team.html" data-text="Item">Team</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="header__mobile nav--hamburger js-nav-hamburger">
					<button class="hamburger hamburger--squeeze js-hamburger" type="button" aria-expanded="false" aria-label="Toggle navigation" aria-controls="nav-mobile">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</nav>
				<nav class="nav--mobile js-nav-mobile" id="nav-mobile" role="navigation">
					<div class="wrapper">
						<div class="header__list u-flex u-flex-jfe u-flex-afe u-flex-column">
							<a href="#" class="header__list__item">Menu item A</a>
							<a href="#" class="header__list__item">Menu item B</a>
							<a href="#" class="header__list__item">Menu item C</a>
							<div class="header__nav-dropdown header__list__item"><i class="fas fa-chevron-down"></i>Menu item D
								<div class="header__dropdown u-flex-column u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

	<div class="content">

		<section class="hero-slider js-hero-slider">
			<div class="hero__bg-image">
				<img src="../images/content/glacier.jpg" alt="">
			</div>
			<div class="hero__bg-image">
				<img src="../images/content/forest.jpg" alt="">
			</div>
			<div class="hero__bg-image">
				<img src="../images/content/rock.jpg" alt="">
			</div>
		</section>
		<section class="portfolio-data">
			<div class="wrapper">
				<div class="portfolio-data__left">
					<h1 class="block-title">Services</h1>
					<p>Quickmail AG ist das erste private Unternehmen in der Schweiz, welches seit der Teilliberalisierung des Briefmarktes im 2009 adressierte Briefe, Mailings, Kataloge, und Zeitschriften über der 50g-Monopolgrenze zustellt.</p>
					<p>Das Unternehmen ist seit der Gründung stark gewachsen und verfügt über eine diversifizierte und breite Kundenbasis – rund 70% davon sind aus der E-Commerce-Branche. Derzeit werden bei Quickmail 175 Vollzeitangestellte sowie
						3‘200 Teilzeitmitarbeitende beschäftigt. Quickmail bietet seinen Kunden signifikante Kostenvorteile gegenüber den bisherigen Portogebühren und zeichnet sich durch eine hohe Flexibilität und Kundenorientierung aus. Neben der
						Erhöhung des bestehenden Marktanteils soll auch das Produktangebot schrittweise ausgebaut werden.</p>
					<p>Im Juni 2019 wurde das Produktangebot durch die Lancierung von Quickpac um die Paketzustellung erweitert. Als erster Paketdienstleister in Europa setzt Quickpac ausschliesslich auf Elektroautomobile. Das System von Quickpac
						orientiert sich an den Bedürfnissen der Kunden und offeriert Same Day Delivery und Abendzustellung zu einem erschwinglichen Preis. Ermöglicht wird dies durch ein ausgeklügeltes, zum Patent angemeldetes Sortiersystem.</p>
				</div>
				<div class="portfolio-data__right">
					<div class="portfolio-data__box">
						<h2>Facts & Figures</h2>
						<ul>
							<li>
								<span>Industry</span>
								<div>Postversand / Paketversand</div>
							</li>
							<li>
								<span>Headquarters</span>
								<div>St. Gallen</div>
							</li>
							<li>
								<span>Employees</span>
								<div>Ca. 600 Vollzeitstellen</div>
							</li>
							<li>
								<span>Stage/Type</span>
								<div>Management Buyout / Mehrheit</div>
							</li>
							<li>
								<span>Ownership</span>
								<div>50%</div>
							</li>
							<li>
								<span>Value at acquisition</span>
								<div>CHF 123 Mio.</div>
							</li>
							<li>
								<span>Website</span>
								<div>quickmail-ag.ch</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="portfolio-spotlight">
			<div class="wrapper">
				<div class="portfolio-spotlight__left">
					<span>in the spotlight</span>
					<h2>Christof Lenhard, CEO</h2>
					<img src="../images/content/glacier.jpg" alt="">
				</div>
				<div class="portfolio-spotlight__right">
					<p>«Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.»</p>
					<h5>Christof Lenhard</h5>
					<span>Geschäftsführer Quickmail AG</span>
					<div class="portfolio-spotlight__links">
						<a href="#" class=""><i class="fas fa-home"></i></a>
						<a href="#" class=""><i class="fas fa-envelope"></i></a>
						<a href="#" class=""><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</section>

		<section class="portfolio-nav">
			<div class="wrapper">
				<div class="portfolio-nav__links-row">
					<a href="#"><i class="fa fa-chevron-left"></i>Vorherige Beteiligung</a>
					<a href="#">Nächste Beteiligung<i class="fa fa-chevron-right"></i></a>
				</div>
				<div class="portfolio-nav__links-row">
					<a href="#"><i class="fa fa-chevron-left"></i>Zurück zur Übersicht</a>
				</div>
			</div>
		</section>

	</div>

	<footer class="footer">
		<div class="wrapper u-flex u-flex-wrap u-flex-jsb">
			<div class="footer__info">
				<div class="footer__info-text">
					<span>Address</span>
					<span>Address</span>
					<span>Address</span>
				</div>
				<div class="footer__info-text">
					<span>Telefon <a href="#">123 45 67</a></span>
					<span>E-Mail <a href="#">test@test.org</a></span>
				</div>
				<div class="footer__social">
					<a href="#"><i class="fab fa-facebook-square"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer__lists u-flex">
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item" class="active">Menu item</a></li>
						<li><a href="#" data-text="Menu item jump">Menu item jump</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item test">Menu item test</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item longer">Menu item longer</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu">Menu</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item test 1">Menu item test 1</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__copyright">
				© 2020 Company, All rights reserved.
			</div>
		</div>
	</footer>
</body>

</html>
