<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML/CSS/JS Template</title>
	<link rel="stylesheet" href="../../dist/css/app.css">
	<script src="../../dist/js/app.js" charset="utf-8"></script>
</head>

<body>
	<header class="header header--static js-header u-flex">
		<div class="wrapper">
			<div class="header__inner u-flex u-flex-jsb u-flex-ac" data-sal="fade" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-out">
				<a href="/" class="logo">
					<img src="../images/content/logo.svg" alt="Logo" />
				</a>
				<div class="header__desktop header__nav u-flex u-flex-jfe u-flex-column u-flex-afe">
					<div class="header__nav-top u-flex u-flex-jfe">
						<div class="header__list u-flex u-flex-jfe u-flex-ac">
							<a href="#" class="header__list__item header__list__lang active" data-text="EN">EN</a>
							<a href="#" class="header__list__item header__list__lang" data-text="DE">DE</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item" data-text="Contact">Contact</a>
							<a href="#" class="header__list__item" data-text="Imprint">Imprint</a>
							<a href="#" class="header__list__item" data-text="Privacy">Privacy</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<div class="header__nav-dropdown header__list__item" data-text="Customer Logins">Customer Logins <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Please choose your platform:</h2>
										<ul>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header__nav-bottom">
						<div class="header__list u-flex u-flex-jfe">
							<a href="direct-investments.html" class="header__list__item" data-text="Direct Investments">Direct Investments</a>
							<a href="wealth-management.html" class="header__list__item" data-text="Wealth Management">Wealth Management</a>
							<a href="family-office.html" class="header__list__item" data-text="Family Office">Family Office</a>
							<div class="header__nav-dropdown header__list__item" data-text="About Dolor">About Dolor <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="team.html" data-text="Item">Team</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="header__mobile nav--hamburger js-nav-hamburger">
					<button class="hamburger hamburger--squeeze js-hamburger" type="button" aria-expanded="false" aria-label="Toggle navigation" aria-controls="nav-mobile">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</nav>
				<nav class="nav--mobile js-nav-mobile" id="nav-mobile" role="navigation">
					<div class="wrapper">
						<div class="header__list u-flex u-flex-jfe u-flex-afe u-flex-column">
							<a href="#" class="header__list__item">Menu item A</a>
							<a href="#" class="header__list__item">Menu item B</a>
							<a href="#" class="header__list__item">Menu item C</a>
							<div class="header__nav-dropdown header__list__item"><i class="fas fa-chevron-down"></i>Menu item D
								<div class="header__dropdown u-flex-column u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

	<div class="content">
		<section class="team-list">
			<div class="wrapper">
				<h1 class="block-title">Team</h1>
				<div class="team-list__subpages">
					<a href="#" data-text="Direct Investments" class="active">Direct Investments</a>
					<a href="#" data-text="Wealth Management">Wealth Management</a>
					<a href="#" data-text="Family Office">Family Office</a>
					<a href="#" data-text="Management">Management</a>
					<a href="#" data-text="Anlageausschuss">Anlageausschuss</a>
					<a href="#" data-text="Advisors">Advisors</a>
				</div>

				<div class="team-list__wrap">
					<div class="team-list__member u-flex">
						<a href="single-portfolio.html">
							<div class="team-list__member-img">
								<img src="../images/content/winter.jpg" alt="Member name">
							</div>
						</a>
						<div class="team-list__member-content u-flex u-flex-column u-flex-jc">
							<a href="single-portfolio.html"><h2>Hans Muster</h2></a>
							<h5>Investment Director</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
							<div class="team-list__member-socials">
								<a href="#"><i class="fab fa-linkedin"></i></a>
								<a href="#"><i class="fas fa-envelope"></i></a>
								<a href="#"><i class="fas fa-credit-card"></i> Download vcard</a>
							</div>
						</div>
					</div>
					<div class="team-list__member u-flex">
						<a href="single-portfolio.html">
							<div class="team-list__member-img">
								<img src="../images/content/winter.jpg" alt="Member name">
							</div>
						</a>
						<div class="team-list__member-content u-flex u-flex-column u-flex-jc">
							<a href="single-portfolio.html"><h2>Hans Muster</h2></a>
							<h5>Investment Director</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
							<div class="team-list__member-socials">
								<a href="#"><i class="fab fa-linkedin"></i></a>
								<a href="#"><i class="fas fa-envelope"></i></a>
								<a href="#"><i class="fas fa-credit-card"></i> Download vcard</a>
							</div>
						</div>
					</div>
					<div class="team-list__member u-flex">
						<a href="single-portfolio.html">
							<div class="team-list__member-img">
								<img src="../images/content/winter.jpg" alt="Member name">
							</div>
						</a>
						<div class="team-list__member-content u-flex u-flex-column u-flex-jc">
							<a href="single-portfolio.html"><h2>Hans Muster</h2></a>
							<h5>Investment Director</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
							<div class="team-list__member-socials">
								<a href="#"><i class="fab fa-linkedin"></i></a>
								<a href="#"><i class="fas fa-envelope"></i></a>
								<a href="#"><i class="fas fa-credit-card"></i> Download vcard</a>
							</div>
						</div>
					</div>
					<div class="team-list__member u-flex">
						<a href="single-portfolio.html">
							<div class="team-list__member-img">
								<img src="../images/content/winter.jpg" alt="Member name">
							</div>
						</a>
						<div class="team-list__member-content u-flex u-flex-column u-flex-jc">
							<a href="single-portfolio.html"><h2>Hans Muster</h2></a>
							<h5>Investment Director</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
							<div class="team-list__member-socials">
								<a href="#"><i class="fab fa-linkedin"></i></a>
								<a href="#"><i class="fas fa-envelope"></i></a>
								<a href="#"><i class="fas fa-credit-card"></i> Download vcard</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="wrapper u-flex u-flex-wrap u-flex-jsb">
			<div class="footer__info">
				<div class="footer__info-text">
					<span>Address</span>
					<span>Address</span>
					<span>Address</span>
				</div>
				<div class="footer__info-text">
					<span>Telefon <a href="#">123 45 67</a></span>
					<span>E-Mail <a href="#">test@test.org</a></span>
				</div>
				<div class="footer__social">
					<a href="#"><i class="fab fa-facebook-square"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer__lists u-flex">
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item" class="active">Menu item</a></li>
						<li><a href="#" data-text="Menu item jump">Menu item jump</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item test">Menu item test</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item longer">Menu item longer</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu">Menu</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item test 1">Menu item test 1</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__copyright">
				© 2020 Company, All rights reserved.
			</div>
		</div>
	</footer>
</body>

</html>
