<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML/CSS/JS Template</title>
	<link rel="stylesheet" href="../../dist/css/app.css">
	<script src="../../dist/js/app.js" charset="utf-8"></script>
</head>

<body>
	<header class="header header--static js-header u-flex">
		<div class="wrapper">
			<div class="header__inner u-flex u-flex-jsb u-flex-ac" data-sal="fade" data-sal-duration="500" data-sal-delay="100" data-sal-easing="ease-out">
				<a href="/" class="logo">
					<img src="../images/content/logo.svg" alt="Logo" />
				</a>
				<div class="header__desktop header__nav u-flex u-flex-jfe u-flex-column u-flex-afe">
					<div class="header__nav-top u-flex u-flex-jfe">
						<div class="header__list u-flex u-flex-jfe u-flex-ac">
							<a href="#" class="header__list__item header__list__lang active" data-text="EN">EN</a>
							<a href="#" class="header__list__item header__list__lang" data-text="DE">DE</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<a href="#" class="header__list__item" data-text="Contact">Contact</a>
							<a href="#" class="header__list__item" data-text="Imprint">Imprint</a>
							<a href="#" class="header__list__item" data-text="Privacy">Privacy</a>
						</div>
						<div class="header__list u-flex u-flex-jfe">
							<div class="header__nav-dropdown header__list__item" data-text="Customer Logins">Customer Logins <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Please choose your platform:</h2>
										<ul>
											<li><a href="#" data-text="Lorem Ipsum example"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum example</a></li>
											<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
											<li><a href="#" data-text="Lorem Ipsum long"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum long</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header__nav-bottom">
						<div class="header__list u-flex u-flex-jfe">
							<a href="direct-investments.html" class="header__list__item" data-text="Direct Investments">Direct Investments</a>
							<a href="wealth-management.html" class="header__list__item" data-text="Wealth Management">Wealth Management</a>
							<a href="family-office.html" class="header__list__item" data-text="Family Office">Family Office</a>
							<div class="header__nav-dropdown header__list__item" data-text="About Dolor">About Dolor <img src="../images/content/chevron.svg" class="chevron" alt="Arrow">
								<div class="header__dropdown u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="team.html" data-text="Item">Team</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
											<li><a href="#" data-text="Item">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="header__mobile nav--hamburger js-nav-hamburger">
					<button class="hamburger hamburger--squeeze js-hamburger" type="button" aria-expanded="false" aria-label="Toggle navigation" aria-controls="nav-mobile">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</nav>
				<nav class="nav--mobile js-nav-mobile" id="nav-mobile" role="navigation">
					<div class="wrapper">
						<div class="header__list u-flex u-flex-jfs u-flex-afe u-flex-column">
							<a href="#" class="header__list__item">Menu item A</a>
							<a href="#" class="header__list__item">Menu item B</a>
							<a href="#" class="header__list__item">Menu item C</a>
							<div class="header__nav-dropdown header__list__item"><i class="fas fa-chevron-down"></i>Menu item D
								<div class="header__dropdown u-flex-column u-flex">
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div class="header__dropdown-list">
										<h2>Heading</h2>
										<ul class="u-flex">
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>


						<div class="nav--mobile__bottom u-flex u-flex-jfe u-flex-wrap">
							<div class="header__list--top u-flex u-flex-jfe">
								<div class="u-flex header__list-lang">
									<a href="#" class="header__list__item header__list__lang active" data-text="EN">EN</a>
									<a href="#" class="header__list__item header__list__lang" data-text="DE">DE</a>
								</div>
								<div class="u-flex">
									<div class="header__nav-dropdown header__list__item" data-text="Dropdown">Dropdown <i class="fas fa-chevron-down"></i>
										<div class="header__dropdown u-flex">
											<div class="header__dropdown-list">
												<h2>Please choose your platform:</h2>
												<ul>
													<li><a href="#" data-text="Lorem Ipsum example"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum example</a></li>
													<li><a href="#" data-text="Lorem Ipsum"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum</a></li>
													<li><a href="#" data-text="Lorem Ipsum long"><img src="../images/content/icon.png" alt="Placeholder" />Lorem Ipsum long</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="header__list--bottom u-flex u-flex-jfe">
								<a href="#" class="header__list__item" data-text="Item">Item</a>
								<a href="#" class="header__list__item" data-text="Item">Item</a>
								<a href="#" class="header__list__item" data-text="Item">Item</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

	<div class="content">
		<section class="hero">
			<div class="hero__bg-image" data-sal="fade" data-sal-duration="800" data-sal-delay="0" data-sal-easing="ease-out">
				<img src="../images/content/forest.jpg" alt="">
			</div>
			<div class="wrapper">
				<div class="hero__box hero__box--green u-flex u-flex-column u-flex-jfe" data-sal="fade" data-sal-duration="400" data-sal-delay="900" data-sal-easing="ease-out">
					<span>Lorem ipsum</span>
					<h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</h1>
					<div class="hero__line" data-sal="fade" data-sal-duration="600" data-sal-delay="800" data-sal-easing="ease-out"></div>
				</div>
			</div>
		</section>
		<section class="basic-text">
			<div class="wrapper">
				<h1><b>Lorem ipsum</b></h1>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
					gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
			</div>
		</section>

		<section id="text-section" class="infographic-section">
			<div class="wrapper">
				<div class="infographic-section__desktop">
					<svg class="w-full hidden lg:block" xmlns="http://www.w3.org/2000/svg" width="1654" height="730" viewBox="0 0 1654 630">
						<defs><style>.cls-1,.cls-11,.cls-2,.cls-3,.cls-4{fill:#a59e87}.cls-1{opacity:.551}.cls-2{opacity:.298}.cls-3{opacity:.348}.cls-4{opacity:.403}.cls-5{fill:#fff;font-size:20px;letter-spacing:.1em}.cls-11,.cls-5{font-family:SegoeUI-Semibold,Segoe UI;font-weight:600}.cls-6{fill:#01284a;font-size:24px;font-family:SegoeUI-Semilight,Segoe UI;font-weight:300}.cls-10,.cls-7,.cls-8,.cls-9{fill:none;stroke-width:4px}.cls-7{stroke:#b1aa95}.cls-8{stroke:#b8b29f}.cls-9{stroke:#c0bcac}.cls-10{stroke:#cdc9bc}.cls-11{font-size:34px;letter-spacing:.04em}</style></defs>
						<g id="Gruppe_135" data-name="Gruppe 135" transform="translate(-141 -1996.038)">
						<circle id="Ellipse_24" data-name="Ellipse 24" class="cls-1" cx="331" cy="331" r="331" transform="translate(141 2006)"></circle>
						<ellipse id="Ellipse_25" data-name="Ellipse 25" class="cls-2" cx="270" cy="269" rx="270" ry="269" transform="translate(202 2006)"></ellipse>
						<circle id="Ellipse_26" data-name="Ellipse 26" class="cls-3" cx="210.5" cy="210.5" r="210.5" transform="translate(262 2006)"></circle>
						<ellipse id="Ellipse_27" data-name="Ellipse 27" class="cls-4" cx="150" cy="149.5" rx="150" ry="149.5" transform="translate(322 2006)"></ellipse>
						<text id="Anspruchsvolle_Investments" data-name="Anspruchsvolle Investments" class="cls-5" transform="translate(321 2448.038)"><tspan x="51.674" y="22">ANSPRUCHSVOLLE </tspan><tspan x="75.309" y="50">INVESTMENTS</tspan></text>
						<text id="Industrie-_Kenntnisse" data-name="Industrie-
						Kenntnisse" class="cls-5" transform="translate(321 2332.038)"><tspan x="88.413" y="22">INDUSTRIE-</tspan><tspan x="83.706" y="50">KENNTNISSE</tspan></text>
						<text id="Knowhow_von_Unternehmen" data-name="Knowhow von
						Unternehmen" class="cls-5" transform="translate(321 2130.038)"><tspan x="61.578" y="22">KNOWHOW VON</tspan><tspan x="67.589" y="50">UNTERNEHMEN</tspan></text>
						<text id="_Übersicht_Risiko-_Management" data-name=" Übersicht &amp; Risiko-
						Management" class="cls-5" transform="translate(287 2574.538)"><tspan x="63.871" y="22" xml:space="preserve"> ÜBERSICHT &amp; RISIKO-</tspan><tspan x="106.02" y="50">MANAGEMENT</tspan></text>
						<text id="Erfolgreiche_und_langjährige_Zusammenarbeit_mit_Kunden_mit_unternehmerischem_Hintergrund" data-name="Erfolgreiche und langjährige Zusammenarbeit mit Kunden mit unternehmerischem Hintergrund" class="cls-6" transform="translate(919 2046)"><tspan x="0" y="26">Erfolgreiche und langjährige Zusammenarbeit mit Kunden mit </tspan><tspan x="0" y="64">unternehmerischem Hintergrund</tspan></text>
						<text id="Durch_die_Begleitung_zahlreicher_Beteiligungsgesellschaften_verfügen_wir_über_Erfahrung_aus_vielzähligen_Industriezweigen" data-name="Durch die Begleitung zahlreicher Beteiligungsgesellschaften verfügen wir über Erfahrung aus vielzähligen Industriezweigen" class="cls-6" transform="translate(919 2220)"><tspan x="0" y="26">Durch die Begleitung zahlreicher Beteiligungsgesellschaften verfügen wir </tspan><tspan x="0" y="64">über Erfahrung aus vielzähligen Industriezweigen</tspan></text>
						<text id="Zugang_zu_attraktiven_und_spannenden_Investment-Themen_welche_das_unternehmerische_Vermögen_ideal_ergänzen_und_eine_attraktive_und_stabile_Rendite_ermöglichen_Langjährige_Erfahrung_mit_Co-Investments_im_Direktbeteiligungsbereich_in_verschiedensten_Branche" data-name="Zugang zu attraktiven und spannenden Investment-Themen, welche das unternehmerische Vermögen ideal ergänzen und eine attraktive und stabile Rendite ermöglichen
						Langjährige Erfahrung mit Co-Investments im Direktbeteiligungsbereich in verschiedensten Branche" class="cls-6" transform="translate(919 2387)"><tspan x="0" y="26">Zugang zu attraktiven und spannenden Investment-Themen, welche das </tspan><tspan x="0" y="64">unternehmerische Vermögen ideal ergänzen und eine attraktive und </tspan><tspan x="0" y="102">stabile Rendite ermöglichen</tspan><tspan x="0" y="146">Langjährige Erfahrung mit Co-Investments im Direktbeteiligungsbereich </tspan><tspan x="0" y="184">in verschiedensten Branchen</tspan></text>
						<text id="Konsolidiertes_massgeschneidertes_Reporting_über_alle_Anlageklassen_inkl._Immobilien_und_Mandate_Investments_hinweg_um_jederzeitige_Transparenz_zu_gewährleisten_und_zur_optimalen_Risikosteuerung" data-name="Konsolidiertes, massgeschneidertes Reporting über alle Anlageklassen (inkl. Immobilien) und Mandate/Investments hinweg, um jederzeitige Transparenz zu gewährleisten und zur optimalen Risikosteuerung" class="cls-6" transform="translate(919 2679)"><tspan x="0" y="26">Konsolidiertes, massgeschneidertes Reporting über alle Anlageklassen </tspan><tspan x="0" y="64">(inkl. Immobilien) und Mandate/Investments hinweg, um jederzeitige </tspan><tspan x="0" y="102">Transparenz zu gewährleisten und zur optimalen Risikosteuerung</tspan></text>
						<line id="Linie_94" data-name="Linie 94" class="cls-7" x1="352.688" transform="translate(534.5 2024.5)"></line>
						<line id="Linie_95" data-name="Linie 95" class="cls-8" x1="209.688" transform="translate(677.5 2197.5)"></line>
						<line id="Linie_96" data-name="Linie 96" class="cls-9" x1="165.688" transform="translate(721.5 2364.5)"></line>
						<line id="Linie_97" data-name="Linie 97" class="cls-10" x1="347.688" transform="translate(537.5 2656.5)"></line>
						<text id="Verständnis_für_unternehmerische_Kunden" data-name="Verständnis für unternehmerische Kunden" class="cls-11" transform="translate(919 1996.038)"><tspan x="0" y="37">VERSTÄNDNIS FÜR UNTERNEHMERISCHE KUNDEN</tspan></text>
						<text id="Branchenverständnis" class="cls-11" transform="translate(918.975 2200.038)"><tspan x="0" y="0">BRANCHENVERSTÄNDNIS</tspan></text>
						<text id="Langfristig_attraktive_Anlagen" data-name="Langfristig attraktive Anlagen" class="cls-11" transform="translate(918.975 2367.038)"><tspan x="0" y="0">LANGFRISTIG ATTRAKTIVE ANLAGEN</tspan></text>
						<text id="Professionelle_Vermögensüberwachung" data-name="Professionelle Vermögensüberwachung" class="cls-11" transform="translate(918.975 2659.038)"><tspan x="0" y="0">PROFESSIONELLE VERMÖGENSÜBERWACHUNG</tspan></text>
						</g>
					</svg>
				</div>
				<div class="infographic-section__mobile">
					<svg xmlns="http://www.w3.org/2000/svg" width="586" height="586" viewBox="0 0 586 586">
					  <g id="Gruppe_153" data-name="Gruppe 153" transform="translate(-50 -1541)">
					    <circle id="Ellipse_24" data-name="Ellipse 24" cx="293" cy="293" r="293" transform="translate(50 1541)" fill="#cdc9bc"/>
					    <ellipse id="Ellipse_25" data-name="Ellipse 25" cx="239.5" cy="238.5" rx="239.5" ry="238.5" transform="translate(104 1541)" fill="#c1bcac"/>
					    <circle id="Ellipse_26" data-name="Ellipse 26" cx="186.5" cy="186.5" r="186.5" transform="translate(157 1541)" fill="#b8b29f"/>
					    <ellipse id="Ellipse_27" data-name="Ellipse 27" cx="133" cy="132.5" rx="133" ry="132.5" transform="translate(210 1541)" fill="#b1aa95"/>

							<text id="circle3" data-name="Anspruchsvolle Investments" transform="translate(209.46 1932.598)" fill="#fff" font-size="20" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600" letter-spacing="0.1em"><tspan x="34.386" y="22">ANSPRUCHSVOLLE </tspan><tspan x="58.021" y="50">INVESTMENTS</tspan></text>
					    <text id="circle2" data-name="Industrie-
					Kenntnisse" transform="translate(209.46 1829.834)" fill="#fff" font-size="20" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600" letter-spacing="0.1em" opacity="0.454"><tspan x="71.126" y="22">INDUSTRIE-</tspan><tspan x="66.419" y="50">KENNTNISSE</tspan></text>
					    <text id="circle1" class="visible" data-name="Knowhow von
					Unternehmen" transform="translate(209.46 1650.884)" fill="#fff" font-size="20" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600" letter-spacing="0.1em" opacity="0.454"><tspan x="44.291" y="22">KNOWHOW VON</tspan><tspan x="50.302" y="50">UNTERNEHMEN</tspan></text>
					    <text id="circle4" data-name=" Übersicht &amp; Risiko-
					Management" transform="translate(179.34 2044.663)" fill="#fff" font-size="20" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600" letter-spacing="0.1em" opacity="0.454"><tspan x="42.761" y="22" xml:space="preserve"> ÜBERSICHT &amp; RISIKO-</tspan><tspan x="84.91" y="50">MANAGEMENT</tspan></text>
					  </g>
					</svg>

					<div class="infographic-section__mobile-texts">
						<div id="" class="circle-text circle1 active">
							<h1>VERSTÄNDNIS FÜR UNTERNEHMERISCHE KUNDEN</h1>
							<p>Erfolgreiche und langjährige Zusammenarbeit mit Kunden mit unternehmerischem Hintergrund</p>
						</div>
						<div id="" class="circle-text circle2">
							<h1>BRANCHENVERSTÄNDNIS</h1>
							<p>Durch die Begleitung zahlreicher Beteiligungsgesellschaften verfügen wir über Erfahrung aus vielzähligen Industriezweigen</p>
						</div>
						<div id="" class="circle-text circle3">
							<h1>LANGFRISTIG ATTRAKTIVE ANLAGEN</h1>
							<p>Zugang zu attraktiven und spannenden Investment-Themen, welche das unternehmerische Vermögen ideal ergänzen und eine attraktive und stabile Rendite ermöglichenLangjährige Erfahrung mit Co-Investments im Direktbeteiligungsbereich in verschiedensten Branchen</p>
						</div>
						<div id="" class="circle-text circle4">
							<h1>PROFESSIONELLE VERMÖGENSÜBERWACHUNG</h1>
							<p>Konsolidiertes, massgeschneidertes Reporting über alle Anlageklassen (inkl. Immobilien) und Mandate/Investments hinweg, um jederzeitige Transparenz zu gewährleisten und zur optimalen Risikosteuerung</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="employee-testimonial">
			<div class="wrapper u-flex">
				<div class="employee-testimonial__content">
					<h2>Lorem ipsum dolor sit amet.</h2>
					<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
						kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
						voluptua. »</p>
					<div class="employee-testimonial__author-mobile">
						<h4>Hans Muster</h4>
						<p>Managing Partner und Head of Wealth Management</p>
					</div>
				</div>
				<div class="employee-testimonial__author">
					<div class="image">
						<img src="../images/content/forest.jpg" alt="Author Name">
					</div>
					<h4>Hans Muster</h4>
					<p>Managing Partner und Head of Wealth Management</p>
				</div>
			</div>
		</section>
		<section class="client-testimonial">
			<img src="../images/content/rock.jpg" alt="Testimonial">
			<div class="client-testimonial__box client-testimonial__box--beige">
				<p>« Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor lorem ipsum meta. »</p>
				<div>Henry Ford</div>
			</div>
		</section>
		<section class="explore-boxes">
			<div class="wrapper">
				<h1 class="block-title">Lorem Ipsum</h1>
				<p class="block-subtext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
					rebum. Stet clita kasd gubergren, no sea takimata.</p>

				<div class="explore-boxes__inner">
					<img class="explore-boxes__bg" src="../images/content/rock.jpg" alt="">
					<div class="explore-boxes__wrap u-flex js-explore-boxes">
						<div class="explore-boxes__item explore-boxes__item--static">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<img src="../images/content/forest.jpg" alt="Portfolio item logo" class="portfolio__box-logo">
								<span>ExplorE OUR</span>
								<h2>Lorem ipsum dolor sit amet, consetetur</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
							</div>
						</div>
						<div class="explore-boxes__item explore-boxes__item--dynamic">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy. Secing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
								<div class="u-flex u-flex-ac"><i class="fas fa-chevron-down"></i><span>Mehr</span></div>
							</div>
						</div>
						<div class="explore-boxes__item explore-boxes__item--dynamic">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
								<div class="u-flex u-flex-ac"><i class="fas fa-chevron-down"></i><span>Mehr</span></div>
							</div>
						</div>
						<div class="explore-boxes__item explore-boxes__item--dynamic">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
								<div class="u-flex u-flex-ac"><i class="fas fa-chevron-down"></i><span>Mehr</span></div>
							</div>
						</div>
						<div class="explore-boxes__item explore-boxes__item--dynamic">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
								<div class="u-flex u-flex-ac"><i class="fas fa-chevron-down"></i><span>Mehr</span></div>
							</div>
						</div>
						<div class="explore-boxes__item explore-boxes__item--dynamic">
							<div class="explore-boxes__item-content u-flex u-flex-column u-flex-jfe">
								<h2>Lorem ipsum dolor sit amet</h2>
								<p class="details">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
								<div class="u-flex u-flex-ac"><i class="fas fa-chevron-down"></i><span>Mehr</span></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<section class="text-image">
			<div class="wrapper">
				<div class="text-image__arrow">
					<i class="fas fa-chevron-down"></i>
				</div>
				<div class="text-image__inner u-flex">
					<img src="../images/content/forest.jpg" alt="">
					<div class="text-image__text u-flex u-flex-column u-flex-jc">
						<h2>Lorem ipsum</h2>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
							kasd gubergren, no sea</p>
					</div>
				</div>
			</div>
		</section>
		<section class="team">
			<div class="wrapper">
				<h1 class="block-title">Ihre Ansprechpartner</h1>
				<div class="team__elements u-flex u-flex-wrap">
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
					<a href="team.html" class="team__member">
						<div class="team__image">
							<img src="../images/content/winter.jpg" alt="Member name">
						</div>
						<h2>Hans Muster</h2>
						<p>Managing Partner und Leiter des Beteiligungsgeschäfts</p>
					</a>
				</div>
			</div>
		</section>
	</div>

	<footer class="footer">
		<div class="wrapper u-flex u-flex-wrap u-flex-jsb">
			<div class="footer__info">
				<div class="footer__info-text">
					<span>Address</span>
					<span>Address</span>
					<span>Address</span>
				</div>
				<div class="footer__info-text">
					<span>Telefon <a href="#">123 45 67</a></span>
					<span>E-Mail <a href="#">test@test.org</a></span>
				</div>
				<div class="footer__social">
					<a href="#"><i class="fab fa-facebook-square"></i></a>
					<a href="#"><i class="fab fa-twitter-square"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
				</div>
			</div>
			<div class="footer__lists u-flex">
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item" class="active">Menu item</a></li>
						<li><a href="#" data-text="Menu item jump">Menu item jump</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item test">Menu item test</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item longer">Menu item longer</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu">Menu</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item test 1">Menu item test 1</a></li>
					</ul>
				</div>
				<div class="footer__list">
					<h2>Heading</h2>
					<ul>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
						<li><a href="#" data-text="Menu item">Menu item</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__copyright">
				© 2020 Company, All rights reserved.
			</div>
		</div>
	</footer>
</body>

</html>
