.u-color-green-shade{
  color: $brand-green-shade;
}
.u-color-beige-shade{
  color: $brand-beige-shade;
}
.u-color-navy-shade{
  color: $brand-navy-shade;
}
.u-color-light-gray{
  color: $brand-light-gray;
}
.u-color-green{
  color: $brand-green;
}
.u-color-yellow{
  color: $brand-yellow;
}
.u-color-pink{
  color: $brand-pink;
}
.u-color-blue{
  color: $brand-blue;
}
.u-color-navy{
  color: $brand-primary;
}
