body {
	padding: 20px;
  overflow-x: hidden;
	max-width: 2000px;
	margin: 0 auto !important;
	.content{
		min-height: 200vh;
		padding: 100px 0 0;
		@include media-above("lg"){
			padding: 195px 0 0;
		}
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	color: $brand-primary;
	line-height: 1.2;
	font-weight: 100;
}

h1 {
	font-size: $text-base;
}

h2 {
	font-size: $text-base;
}

h3 {
	font-size: $text-sm2;
}

h4 {
	font-size: $text-xs;
}

h5 {
	font-size: $text-xs;
}

h6 {
	font-size: $text-xs;
}

.block-title{
	font-size: $text-lg;
	font-weight: 500;
	margin: 0 0 $space-md;
	width: 100%;
	@include media-above("md"){
		margin: 0 0 $space-bump;
		font-size: $text-xl;
	}
}

.block-subtitle{
	font-size: $text-lg;
	font-weight: 500;
	margin: 0 0 $space-md;
	width: 100%;
	@include media-above("md"){
		margin: 0 0 $space-bump;
		font-size: $text-xl - 4;
	}
}
