$breakpoints: (
  "horizontal": (
    "xs": 375px,
    "sm": 500px,
    "md": 700px,
    "lg": 960px,
    "xl": 1180px,
    "xxl": 1200px,
    "xxxl": 1440px
  ),
  "vertical": (
    "xs": 300px,
    "sm": 450px,
    "md": 600px,
    "lg": 750px,
    "xl": 900px,
    "xxl": 1100px
  )
);

// Base
$base-font                : "Segoe UI", Arial, Helvetica, sans-serif;
$base-font-heading        : $base-font;
$base-font-size           : 18px;
$base-text-size           : 22px;
$base-font-weight         : 400;
$base-font-heading-weight : 600;
$base-line-height         : 1.35;
$border-radius            : 0px;

$brand-black: #000;
$brand-white: #fff;

$brand-primary: #00284A;
$brand-secondary: #EDE7DB;
$brand-blue: #D1ECF1;
$brand-pink: #F8D7DA;
$brand-yellow: #FFF3CD;
$brand-beige: #F6F5F2;
$brand-green: #D4EDDA;
$brand-light-gray: #F6F7F8;
$brand-green-shade: #92A395;
$brand-beige-shade: #A59E87;
$brand-navy-shade: #01284A;
// Typography sizing
$text-xs                  : 14px;
$text-sm                  : 16px;
$text-sm2                 : 18px;
$text-base                : 20px;
$text-md                  : 24px;
$text-lg                  : 28px;
$text-xl                  : 36px;
$text-xxl                 : 48px;
$text-xxxl                : 60px;

// Spacing
$space-xs                 : 5px;
$space-sm                 : 10px;
$space                    : 20px;
$space-bump               : 30px;
$space-md                 : 40px;
$space-md2                : 50px;
$space-lg                 : 60px;
$space-lg2                : 70px;
$space-xl                 : 100px;
$space-xxl                : 120px;
$space-xxxl               : 140px;

// Bg Colors
$bg-color                 : #fff;
$bg-footer                : #000000;

// Borders
$border-color             : #01284A4D;

// Transitions
$base-transition          : all .3s ease-in-out;
$base-transition-duration : .3s;
$base-transition-function : ease-in-out;

// Wrapper
$wrapper-padding          : 20px;
