.wrapper {
	max-width: 1440px;
	margin: auto;
	width: 100%;
	padding: 0 $space;
	position: relative;
	@include media-above('xs') {
		max-width: 100%;
	}
	@include media-above('md') {
		max-width: get-breakpoint('horizontal', 'md');
		padding: 0 $space-md;
	}
	@include media-above('lg') {
		max-width: get-breakpoint('horizontal', 'lg');
	}
	@include media-above('xxl') {
		max-width: get-breakpoint('horizontal', 'xxl');
	}
	@include media-above('xxxl') {
		max-width: 1440px;
	}
}
